<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/default}">
<head>
    <title>mypage</title>
</head>
<div layout:fragment="content">
    <form th:action="@{/mypage(id = ${session.loginUser})}" th:object="${member}" method="post">
        아이디 : <input type="text" th:field="*{user_id}" th:value="${member.user_id}" readonly><br>
        비밀번호 :<input type="password" th:field="*{user_pw}"><br>
        비밀번호 확인 :<input type="password" name="user_repw" id="user_repw"><br>
        이름 :<input type="text" th:field="*{user_name}" th:value="${member.user_name}"><br>
        폰번호 :<input type="text" th:field="*{user_pn}" th:value="${member.user_pn}"><br>
        이메일 :<input type="text" th:field="*{user_email}" th:value="${member.user_email}"><br>
        주소 : <input type="text" th:field="*{address_normal}" th:value="${member.address_normal}" readonly><br>
        상세주소 :<input type="text" th:field="*{address_detail}" th:value="${member.address_detail}" readonly><br>
        주민번호 : <input type="text" th:field="*{user_rrn}" th:value="${member.user_rrn}" readonly>-
        <input type="text" th:field="*{user_gender}" th:value="${member.user_gender}" readonly><br>
        <input type="radio" name="user_role"/>
        일반회원
        <input type="radio" name="user_role" checked="checked"/>트레이너<br>
        <input type="submit" value="회원정보수정">
    </form>
</div>
</html>

