<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/default}">
<head>
    <title>select</title>
</head>
<input type="hidden" th:text="${session.loginUser}">
<div layout:fragment="content">
    <span class="text-dark" th:text="${session.loginName }"><strong>김수혁 </strong>님</span>
    <h1>회원조회</h1>
    <table border="1">
        <thead>
            <tr>
                <th>아이디</th>
                <th>비밀번호</th>
                <th>이름</th>
                <th>폰번호</th>
                <th>이메일</th>
                <th>주민번호</th>
                <th>성별</th>
                <th>주소</th>
                <th>상세주소</th>
                <th>회원종류</th>
            </tr>
        </thead>
        <tr th:each="member : ${memberList}">
            <td><span th:text="${member.user_id}"></span></td>
            <td><span th:text="${member.user_pw}"></span></td>
            <td><span th:text="${member.user_name}"></span></td>
            <td><span th:text="${member.user_pn}"></span></td>
            <td><span th:text="${member.user_email}"></span></td>
            <td><span th:text="${member.user_rrn}"></span></td>
            <td><span th:text="${member.user_gender}"></span></td>
            <td><span th:text="${member.address_normal}"></span></td>
            <td><span th:text="${member.address_detail}"></span></td>
            <td><span th:text="${member.user_role}"></span></td>
        </tr>
    </table>
    <span><a href="/">메인화면</a></span>




</div>

</html>