<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/default}">

<head>
    <title>상세보기</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <script th:src="@{/js/board.js}"></script>
    <script th:src="@{/js/comments.js}"></script>
    <style>
        .reCmt {
            display: none;
        }
    </style>
</head>
<div layout:fragment="content" class="content">

    <div class="post_header">
        <input type="hidden" th:text="${boards.id}" id="hb_num" name="hb_num">
        <div th:text="${boards.title}" class="post_title"></div>
        <div class="post_info">
            <div class="left">
                <div th:text="${boards.user_id}" class="post_author"></div>
            </div>
            <div class="right">
                <div class="updated_at">
                    <span>수정날짜:</span>
                    <span th:text="${#temporals.format(boards.modifiedDate, 'yyyy/MM/dd HH:mm:ss')}">

                    </span>
                </div>
                <div class="hits">
                    <span>조회수:</span>
                    <span th:text="${boards.hit}" class="hit"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="post_content" th:text="${boards.content}">

    </div>

    <div class="post_control_btn_area">
        <a th:href="@{/board/trainerBoard/update(hb_num = ${boards.id},
                                        page=${PageRequestDto.page},
                                        type=${PageRequestDto.type},
                                        keyword=${PageRequestDto.keyword})}"
           th:if="${session.loginId == boards.user_id}"
           class="custom_btn post_update">글수정</a>
        <a th:href="@{/board(page=${PageRequestDto.page},
                                        page=${PageRequestDto.page},
                                        type=${PageRequestDto.type},
                                        keyword=${PageRequestDto.keyword})}" class="custom_btn post_delete">이전
        </a>
    </div>

    <div class="comments_count">
        <h3>댓글 <span>0</span>개</h3>
    </div>

    <!--댓글달기-->
    <form th:if="${boards.id != null}">
        <div class="comment_fm">
            <input type="hidden" th:value="${boards.id}" id="parentNum" name="parentNum">
            <input type="hidden" th:value="${session.loginId}" id="user_id" name="user_id">
            <div class="comment_write_area">
                <textarea name="comments" id="comments" cols="55" rows="4" placeholder="댓글을 남겨주세요"></textarea>
            </div>
            <button type="button" onclick="CommentSave()" class="comment_save_btn">댓글달기</button>
        </div>
    </form>
    <!--댓글달기끝-->


    <div class="comments_area">
        <div class="comments">


            <!--            일반 댓글 목록 시작-->
            <div class="comment" th:each="comment: ${comments}" th:if="${comment.parentNum == boards.id}">
                <input type="hidden" th:value="${comment.id}" id="commentId" name="commentId">
                <div class="comment_info">
                    <div class="writer" th:text="${comment.user_id}">닉네임</div>
                    <div class="created_at" th:text="${#temporals.format(comment.modifiedDate, 'yyyy/MM/dd HH:mm:ss')}">
                        2021/04/03 17:54:30
                    </div>
                </div>
                <div class="comment_content" th:text="${comment.comments}">댓글내용</div>
                <div class="comment_control_btn_area" th:if="${session.loginId == comment.user_id}">
                    <button type="button" onclick="CDelete()">삭제</button>
                </div>
                <!--                일반 댓글 목록 끝-->


                <!--                답글버튼 시작-->
                <!--답글버튼 긑-->
                <!--                  답글 누르면 스타트지점-->
                <button type="button" onclick="CmtBtn()">답글</button>
                <div class="reCmt">
                    <!--                    리댓 리스트-->
                    <div class="comment_control_btn_area" th:each="recomment: ${recomments}"
                         th:if="${recomment.re_parentCoNum == comment.id}">
                        <div th:if="${comment.id == recomment.re_parentCoNum}">
                            <input type="hidden" th:value="${recomment.id}" id="recomment" name="recomment">
                            <div class="comment_info">
                                <div class="writer" th:text="${recomment.re_user_id}">닉네임</div>
                                <div class="created_at"
                                     th:text="${#temporals.format(recomment.modifiedDate, 'yyyy/MM/dd HH:mm:ss')}">
                                    2021/04/03 17:54:30
                                </div>
                            </div>
                            <div class="comment_content" th:text="${recomment.re_comments}">댓글내용</div>
                            <!--                            <div class="comment_control_btn_area" th:if="${session.loginId == recomment.re_user_id}">-->
                            <!--                                <button type="button" onclick="CDelete()">삭제</button>-->
                            <!--                            </div>-->
                        </div>
                    </div>
                </div>
                <!--                    리댓 리스트 종료-->
                <!--리댓 쓰기-->
                <form th:each="result: ${recomments}" th:if="${result.re_parentCoNum == comment.id}" class="reCmt">
                    <div>
                        <input type="hidden" th:value="${session.loginId}" id="re_user_id" name="re_user_id">
                        <input type="hidden" th:value="${boards.id}" id="re_parentNum" name="re_parentNum">
                        <input type="hidden" th:value="${comment.id}" id="re_parentCoNum" name="re_parentCoNum">
                        <div class="comment_write_area">
                                    <textarea id="re_comments" name="re_comments" cols="55" rows="4"
                                              placeholder="댓글을 남겨주세요"></textarea>
                        </div>
                        <button type="button" onclick="ReCommentSave()" class="comment_save_btn">답글달기</button>
                    </div>
                </form>
                <!--리댓종료-->

            </div>
        </div>
    </div>

    <script th:inline="javascript">

        function CmtBtn() {
            // $('.reCmt').toggle();
            $('.reCmt:nth-child(even)').show();
        }

    </script>
</div>


</html>