<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/default}">
<head>
    <title>boardSelect</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <link rel="stylesheet" href="board.css">
    <script th:src="@{/js/board.js}" ></script>

    <style>
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li{
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            border: 0;
            float: left;
        }
        h2{
            font-size: 20px;
            font-weight: bold;
            margin-top: 5px;
        }
    </style>
</head>
<div layout:fragment="content" class="content">

    <form th:action="@{/board}" method="get" id="searchForm" class="board_info">
        <div>
            <h2>트레이너 게시판</h2>
            <input type="hidden" name="page" value="1">
            <div class="board_search">
                <select name="type">
                    <!--                <option th:selected="${PageRequestDto.type == null}"></option>-->
                    <option value="t" th:selected="${PageRequestDto.type == 't'}">제목</option>
                    <option value="c" th:selected="${PageRequestDto.type == 'c'}">내용</option>
                    <option value="u" th:selected="${PageRequestDto.type == 'u'}">작성자</option>
                    <option value="tc" th:selected="${PageRequestDto.type == 'tc'}">제목+내용</option>
                </select>
                <input name="keyword" th:value="${PageRequestDto.keyword}" placeholder="검색어">
                <button type="button" class="custom_btn" onclick="search()">검색</button>
                <button type="button" class="custom_btn" onclick="Sclear()">초기화</button>
            </div>
        </div>

    </form>

    <table class="board">
        <thead class="thead-strong">
        <tr>
            <td width="10%">글번호</td>
            <td width="50%">글 제목</td>
            <td width="10%">작성자</td>
            <td width="10%">조회수</td>
            <td width="20%">글수정날짜</td>
        </tr>
        </thead>
        <tbody id="tbody">
        <tr th:each="board : ${result.dtoList}">
            <td th:text="${board.id}"></td>
            <!--            <td th:text="${board.title}"><a th:href="@{/board/trainerBoard/update/{id}(id = ${session.loginUser})}" th:if="${session.loginUser == null}" ></a></td>-->
            <td>
                <a th:href="@{/board/trainerBoard/detail(hb_num = ${board.id},
                                        page=${PageRequestDto.page},
                                        type=${PageRequestDto.type},
                                        keyword=${PageRequestDto.keyword})}" th:text="${board.title}"></a>
            </td>
            <td th:text="${board.user_id}"></td>
            <td th:text="${board.hit}"></td>
            <td th:text="${#temporals.format(board.modifiedDate, 'yyyy/MM/dd HH:mm:ss')}"></td>
        </tr>
        </tbody>
    </table>

    <div class="pagination_area">
        <ul>
            <li th:if="${result.prev}">
                <a class="custom_btn" th:href="@{/board(page = ${result.start -1},
                                        type=${PageRequestDto.type},
                                        keyword=${PageRequestDto.keyword})}">이전</a>
            </li>
            <li th:each="page: ${result.pageList}">
                <a class="custom_btn" th:href="@{/board(page= ${page},
                                        type=${PageRequestDto.type},
                                        keyword=${PageRequestDto.keyword})}" th:text="${page}">1</a>
            </li>
            <li th:if="${result.next}">
                <a class="custom_btn" th:href="@{/board(page = ${result.end +1},
                                        type=${PageRequestDto.type},
                                        keyword=${PageRequestDto.keyword})}">다음</a>
            </li>
        </ul>
    </div>

    <div class="post_write_btn_area">
        <a th:href="@{/board/trainerBoard/save(member_id = ${session.loginUser})}" th:if="${session.loginUser != null}" class="custom_btn">글쓰기</a>
    </div>

</div>


</html>