<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/default}">
<head>
    <title>boardSelect</title>
    <script th:src="@{/js/board.js}" ></script>

</head>
<div layout:fragment="content">
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>등록인</th>
            <th>조회수</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <tr th:each="board : ${boards}">
            <td th:text="${board.id}"></td>
<!--            <td th:text="${board.title}"><a th:href="@{/board/trainerBoard/update/{id}(id = ${session.loginUser})}" th:if="${session.loginUser == null}" ></a></td>-->
            <td>
                <a th:href="@{/board/trainerBoard/detail(hb_num = ${board.id})}" th:text="${board.title}"></a>
            </td>
            <td th:text="${board.author}"></td>
            <td th:text="${board.hit}"></td>
            <td th:text="${#temporals.format(board.modifiedDate, 'yyyy/MM/dd HH:mm:ss')}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/board/trainerBoard/save(member_id = ${session.loginUser})}" th:if="${session.loginUser != null}" class="btn btn-secondary">글쓰기</a>
</div>


</html>