<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">


<footer class="main-footer" th:fragment="footerFragment">
<!--    footer 영역, 원하는 것을 넣으면 된다-->
    <!-- footer 시작 -->
    <footer class="footer">
        <div class="container-fluid">
          <div class="row text-muted">
            <div class="text-right">
              <p class="mb-0">
                &copy;
                <a href="index.html" class="text-muted"
                  ><strong>DAGYM</strong></a
                >
              </p>
            </div>
          </div>
        </div>
      </footer>
    <!-- footer 끝 -->
</footer>
</body>

</html>

