<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header class="main-nav" th:fragment="topnavFragment">
    <!-- 상단 nav 시작 -->
    <nav class="navbar navbar-expand navbar-light navbar-bg">
      <!-- 상단 왼쪽 활성화하고 숨길수 있는 거-->
      <a class="sidebar-toggle d-flex">
        <i class="hamburger align-self-center"></i>
      </a>

      <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
          <!-- 로그인 회원 가입 -->
          <li class="nav-item">
            <a th:if="${session.loginUser == null}" href="/login">
              <span class="text-dark" style="padding-right: 10px"
                >로그인</span
              >
            </a>
          </li>
          <li class="nav-item">
            <a th:if="${session.loginUser == null}" href="/join">
              <span class="text-dark">회원가입</span>
            </a>
          </li>
          <li>
            <span th:text="${session.loginName }"></span>
          </li>
          <li class="nav-item">
            <a th:if="${session.loginUser != null}" href="/logout">
              <span class="text-dark">로그아웃</span>
            </a>
          </li>
          <li class="nav-item">
            <a th:href="@{/mypage/{id}(id = ${session.loginUser})}" th:if="${session.loginUser != null}">
              <span class="text-dark">마이페이지</span>
            </a>
          </li>
          <li class="nav-item">
            <a th:href="@{/mypage/mypageSelect}">
              <span class="text-dark"> 회원조회</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- 상단 nav 끝 -->
</header>

</html>