<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  data-layout-decorate="~{layout/default}"
>
  <head>
    <title>join</title>
    <script
      th:src="@{http://dmaps.daum.net/map_js_init/postcode.v2.js}"
    ></script>
    <script th:src="@{/js/join.js}"></script>
    <link rel="stylesheet" th:href="@{/css/join.css}" />
  </head>
  <div layout:fragment="content">
    <div class="container">
      <h2 class="title">회원가입</h2>

      <form
        name="memberJoinForm"
        id="memberJoinForm"
        action="/member/join"
        method="post">

        <div class="resp_member_join">
          <div class="resp_join_table">
            <!-- 아이디 -->
            <ul>
              <li class="th">
                <p><label for="user_id">아이디</label></p>
              </li>
              <li class="td">
                <input
                  type="text"
                  id="user_id"
                  name="user_id"
                  placeholder="아이디를 입력하세요"
                />
                <span id="chkIdmsg"></span>
                <span>(영문소문자/숫자, 4~16자)</span>
              </li>
            </ul>
            <!-- 비밀번호 -->
            <ul>
              <li class="th">
                <p><label for="user_pw">비밀번호</label></p>
              </li>
              <li class="td">
                <input
                  type="password"
                  id="user_pw"
                  name="user_pw"
                  placeholder="비밀번호를 입력하세요"
                />
                <span>(숫자, 문자포함 6~16자리)</span>
              </li>
            </ul>
            <!-- 비밀번호 확인 -->
            <ul>
              <li class="th">
                <p><label for="user_repw">비밀번호 확인</label></p>
              </li>
              <li class="td">
                <input
                  type="password"
                  id="user_repw"
                  name="user_repw"
                  placeholder="비밀번호를 입력하세요"

                />
                <span id="chkmsg" name="chkmsg"></span>
              </li>
            </ul>
            <!-- 이름 -->
            <ul>
              <li class="th">
                <p><label for="user_name">이름</label></p>
              </li>
              <li class="td">
                <input
                  type="text"
                  id="user_name"
                  name="user_name"
                  placeholder="이름을 입력하세요"
                />
              </li>
            </ul>
            <!-- 핸드폰 -->
            <ul>
              <li class="th">
                <p>핸드폰</p>
              </li>
              <li class="td">
                <input type="tel" name="pn" class="size_phone" maxlength="3" />
                -
                <input type="tel" name="pn" class="size_phone" maxlength="4" />
                -
                <input type="tel" name="pn" class="size_phone" maxlength="4" />
                <input
                  type="tel"
                  name="user_pn"
                  id="user_pn"
                  class="size_phone"
                  maxlength="4"
                  style="display: none"
                />
                <button
                  type="button"
                  id="sendUser_pn"
                  name="sendUser_pn"
                  class="btn"
                >
                  문자인증
                </button>
              </li>
            </ul>
            <!-- 인증번호-->
            <ul>
              <li class="th">
                <p><label for="inputCertifiedNumber">인증번호</label></p>
              </li>
              <li class="td">
                <input
                  type="text"
                  id="inputCertifiedNumber"
                  name="inputCertifiedNumber"
                />
                <button type="button" id="checkBtn" name="checkBtn" class="btn">
                  인증번호확인
                </button>
              </li>
            </ul>
            <!-- 이메일 -->
            <ul>
              <li class="th">
                <p>이메일</p>
              </li>
              <li class="td">
                <input type="text" name="user_email1" class="size_mail1" />
                @
                <input
                  type="text"
                  name="user_email1"
                  id="str_email02"
                  class="size_mail2"
                />
                <select name="selectEmail" id="selectEmail">
                  <option value="1">직접입력</option>
                  <option value="naver.com">naver.com</option>
                  <option value="gmail.com">gmail.com</option>
                  <option value="daum.net">daum.net</option>
                  <option value="google.com">google.com</option>
                  <option value="nate.com">nate.com</option>
                </select>
              </li>
              <input type="text" name="user_email" style="display: none" />
            </ul>
            <!-- 주민등록번호 -->
            <ul>
              <li class="th">
                <p>주민등록번호</p>
              </li>
              <li class="td">
                <input
                  type="text"
                  name="user_rrn"
                  id="user_rrn"
                  placeholder="123456"
                  maxlength="6"
                />
                -
                <input
                  type="text"
                  name="user_gender"
                  id="user_gender"
                  class="size_ssn"
                  placeholder="1"
                  maxlength="1"
                />
                <input
                  type="text"
                  class="size_ssn"
                  value="*"
                  maxlength="1"
                  readonly
                />
                <input
                  type="text"
                  class="size_ssn"
                  value="*"
                  maxlength="1"
                  readonly
                />
                <input
                  type="text"
                  class="size_ssn"
                  value="*"
                  maxlength="1"
                  readonly
                />
                <input
                  type="text"
                  class="size_ssn"
                  value="*"
                  maxlength="1"
                  readonly
                />
                <input
                  type="text"
                  class="size_ssn"
                  value="*"
                  maxlength="1"
                  readonly
                />
                <input
                  type="text"
                  class="size_ssn"
                  value="*"
                  maxlength="1"
                  readonly
                />
              </li>
            </ul>
            <!-- 주소 -->
            <ul>
              <li class="th">
                <p>주소</p>
              </li>
              <li class="td">
                <input
                  type="text"
                  name="user_addr"
                  readonly="readonly"
                  class="size_zip_all"
                />
                <button
                  type="button"
                  class="btn zip_btn"
                  id="zip"
                >
                  우편번호
                </button>
                <div class="address_area">
                  <input
                    placeholder="도로명 주소"
                    id="address_normal"
                    type="text"
                    name="address_normal"
                    class="address size_address"
                    readonly="readonly"
                  />
                  <span>기본주소</span>
                </div>
                <div class="address_area">
                  <input
                    placeholder="상세주소"
                    type="text"
                    name="address_detail"
                    id="address_detail"
                    class="size_address"
                  />
                </div>
              </li>
            </ul>
            <!-- 트레이너 여부 -->
            <ul>
              <li class="th">
                <p>트레이너 여부</p>
              </li>
              <li class="td">
                <input
                  type="radio"
                  name="user_role"
                  class="user_tr_if"
                  value="trainer"
                />
                트레이너
                <input type="radio" name="user_role" class="user_tr_if" value="user" checked/>
                일반회원
              </li>
            </ul>
          </div>
        </div>

        <div class="btn_area">
          <button
            type="submit"
            class="btn"
            id="joinbtn"
          >
            회원가입
          </button>
          <button type="button" class="btn">이전</button>
        </div>
      </form>
    </div>
  </div>

</html>
