<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Error Page!</title>
    <link
            href="https://fonts.googleapis.com/css?family=Montserrat:500"
            rel="stylesheet"
    />
    <link
            href="https://fonts.googleapis.com/css?family=Titillium+Web:700,900"
            rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/errorPage.css}" />
</head>
<body>
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1 th:text="${status}"></h1>
        </div>
        <h2> 페이지 요청이 잘못 되었습니다.</h2>
        <h2 th:text="${message}"></h2>
        <a href="/">메인</a>
        <a onclick="history.go(-1)" >돌아가기</a>
    </div>
</div>
</body>
</html>