@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  padding-left: 27%;
}

.title {
  margin: 20px auto;
  text-align: center;
}

.login_form {
  width: 320px;
}
.resp_member_login {
  display: flex;
}
.resp_member_login input {
  padding: 0 9px;
  width: 200px;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  color: #333;
  border: 1px #ccc solid;
  border-radius: 2px;
}
.resp_member_login .password {
  margin-top: 5px;
}
.resp_member_login button {
  margin-left: 5px;
  background-color: #4a5164;
  color: #fff;
  border-radius: 3px;
  padding: 8px 30px;
  border: revert;
  cursor: pointer;
}
form .save_id {
  margin-top: 5px;
}
form .save_id span {
  font-size: 14px;
}

.link_area {
  margin-top: 30px;
  border-top: 2px solid #aaa;
  display: flex;
  align-items: center;
}
.link_area a {
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 15px;
}
.link_area .middle {
  width: 3px;
  height: 25px;
  background-color: #aaa;
}

.social-btn {
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

.social-btn img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.social-btn span {
  width: 150px;
}

#google-login-btn {
  background-color: #ea3d30;
  color: #ffffff;
}

#kakao-login-btn {
  background-color: #fce51e;
  color: #333;
}

#naver-login-btn {
  background-color: #01c73c;
  color: #ffffff;
}

#facebook-login-btn {
  background-color: #1877f2;
  color: #ffffff;
}
