<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/default}">
<head>
    <script th:src="@{~/js/checkIdPw.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <link rel="stylesheet" th:href="@{/css/IdPwCheck.css}" />
    <title>아이디, 비밀번호 찾기</title>
</head>
<div layout:fragment="content">
    <div class="form_container">
        <div class="find_form">
            <h2 class="title">아이디 찾기</h2>
            <h4 class="title">
                회원가입 시 입력한 이름, 이메일 정보를 통해 아이디를 찾으실 수
                있습니다
            </h4>
            <form name="checkForm" id="checkForm">
                <p>이름</p>
                <input type="text" id="user_name" name="user_name" /><br />
                <p>이메일</p>
                <input type="text" id="user_email" name="user_email" /><br />
                <button type="button" onclick="IdCheck()">아이디 찾기</button>
            </form>
        </div>
        <hr />
        <div class="find_form">
            <h2 class="title">비밀번호 찾기</h2>
            <h4 class="title">입력된 정보로 임시 비밀번호가 전송됩니다.</h4>
            <form name="checkPwForm">
                <p>아이디</p>
                <input type="text" name="user_id" /><br />
                <p>이름</p>
                <input type="text" name="user_name" /><br />
                <p>이메일</p>
                <input type="text" name="user_email" /><br />
                <button type="button" onclick="PwCheck()">비밀번호 찾기</button>
            </form>
        </div>
        <div id="checkMsg" style="color: #ff0000"></div>
    </div>
</div>

</html>
