<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        data-layout-decorate="~{layout/default}"
>
<head>
  <title>login</title>
  <script th:src="@{/js/login.js}"></script>
  <link rel="stylesheet" th:href="@{/css/login.css}" />
  <meta name="google-signin-client_id"
        content="831600705653-q3poakj6j0ehm7ihhe09l4k77n1tnbme.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<div layout:fragment="content">
  <div class="container">
    <div class="login_form">
      <h2 class="title">LOGIN</h2>

      <form action="/member/signIn" method="post">
        <div class="resp_member_login">
          <div class="form-group">
            <div class="form-group">
              <input
                      type="text"
                      id="user_id"
                      name="user_id"
                      placeholder="아이디"
                      required
                      autofocus
              />
            </div>
            <div class="form-group password">
              <input
                      type="password"
                      id="user_pw"
                      name="user_pw"
                      class="form-control"
                      placeholder="패스워드"
                      required
              />
            </div>
          </div>

          <button type="submit" class="login_size btn">로그인</button>
        </div>

        <div class="form-group save_id">
          <label for="save_id">
            <input type="checkbox" id="save_id" />
            <span>아이디저장</span>
          </label>
        </div>

        <div class="link_area">
          <a href="/member/IdPwCheck">ID/PW 찾기</a>
          <span class="middle"></span>
          <a href="/member/join">회원가입</a>
        </div>
      </form>
      <button id="kakao-login-btn" class="social-btn" onclick="kakaoLogin()" >
        <img th:src="@{/image/kakaotalk.png}" alt="" />
        <span>카카오톡으로 로그인</span>
      </button>
      <button id="google-login-btn" class="social-btn" value="GoogleLogin" onclick="googleLogin()" >
        <img th:src="@{image/google.png}" alt="" />
        <span>구글로 로그인</span>
      </button>

      <!--        이 위치에 onload=init있어야 구글api 작동함.-->
      <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
    </div>
  </div>
</div>

</html>